/* body {
    background-color: #eaf6f6;
  }

  hr {
    border-style: none;
    border: grey none 5px;
    border-top-style: dotted;
    width: 65px;
  } */

  /* h1, h3 { */
    h1 {
      color: red;
    }

    img:hover {
      background-color: goldenrod;
    }

    /* Class Selectors */

    .broccoli {
      background-color: red;
    }

    .bacon {
      background-color: green;
    }

    .circular {
      border-radius:  50%;
    }

    /* ID Selector */

    #heading {
      color: blue;
    }